@charset "UTF-8";
* {
  font-family: 微軟正黑體;
  letter-spacing: 1px;
  font-weight: bold;
  user-select: none;
}

h1 {
	Color:white;
    text-align: center;
}
form {
	Color:white;
	text-align: center;
	font-size: 18px;
}
body {
	Color:white;
    background-image: url("./img/darkGreen.jpg");
	font-size: 18px;
}
table {
	Color:white;
	table-layout:fixed;
	font-size: 18px;
}
input[id="date1"] {
	background-color: orange;
	Color:white;
	font-size: 18px;
}

input[id="date2"] {
	border-style:none;
	Color:white;
	outline:none;
	background-color:transparent;
	font-size: 18px;
}
input[name="price"] {
	border-style:none;
	text-align: center;
	outline:none;
	background-color:transparent;
	width: 50px;
	Color:white;
	font-size: 18px;
}

input[name="roi"] {
	border-style:none;
	text-align: center;
	outline:none;
	background-color:transparent;
	width: 50px;
	Color:white;
	font-size: 18px;
}

select[name="unit"] {
	text-align: center;
	width: 175px;
	Color:red;
	background-color: black;
	font-size: 18px;
}

select[name="sum"] {
	text-align: center;
	width: 200px;
	Color:red;
	background-color: black;
	font-size: 18px;
}
input[id="total1"] {
	border-style:none;
	text-align: center;
	outline:none;
	background-color:transparent;
	Color:white;
	font-size: 18px;
}

input[id="total2"] {
	border-style:none;
	text-align: center;
	outline:none;
	width:100%;
	height:100%;
	padding:0;
	border:none;
	background-color:transparent;
	Color:white;
	font-size: 18px;
}
input[id="total3"] {
	border-style:none;
	text-align: center;
	outline:none;
	width:100%;
	height:100%;
	background-color:transparent;
	Color:white;
	font-size: 18px;
}
input[id="last1"] {
	border-style:none;
	text-align: center;
	outline:none;

	background-color:transparent;
	Color:white;
	font-size: 18px;
}
td[id="text1"] {
  position: relative;
  padding-right: 26.5%;
  text-align: center;
}
td[id="text2"] {
  position: relative;
  padding-right: 26.5%;
  text-align: center;
}
input[id="reset"] {
	text-align: center;
	Color:black;
	font-size: 18px;
}