@charset "UTF-8";
* {
  font-family: 微軟正黑體;
  letter-spacing: 1px;
  /* transition-duration: 1s; */
}

h1 {
    text-align: center;
}
form {
	text-align: center;
}
body {
    /*background-image: url("./img/5.jpg");*/
}
table {
	/*table-layout:fixed;*/
}
input[id="date1"] {
	
	background-color:transparent;
}

input[id="date2"] {
	border-style:none;
	outline:none;
	background-color:transparent;
}
input[name="price"] {
	border-style:none;
	text-align: center;
	outline:none;
	background-color:transparent;
}

input[name="roi"] {
	border-style:none;
	text-align: center;
	outline:none;
	background-color:transparent;
}

select[name="unit"] {
	text-align: center;
}

select[name="sum"] {
	text-align: center;
}